*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter V","Inter","DM Sans",sans-serif;
    outline: 0; border: 0;
    transition: all 0.2s linear;
}
.logo{
    height: auto;
    width: 500px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #587ef4;
}  

li .logo{
    float: left;
    padding-right: 90%;
}

li{
    float: inline-start;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

li a:hover {
    background-color: #111;
}

.button1{
    background-color: rgb(3, 45, 127);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 7px 15px;
    margin-right: 20px;
}

.text{
    position: absolute;
    text-align: center;
    top: 50%;

}
img{
    max-width: 100%;
    max-height:100%;
}
.manage{
    color:rgb(251, 246, 246);
    font-size: 50px;
    text-shadow: 2px 2px #000000;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features{
    color: black;
    text-align: center;
    margin-top:0px ;
    margin-bottom: 0px;
    font-size:33px;
    font-weight: 700;
    background-color: white;
}
.feats{
    color: black;
    opacity: 0.7;
    text-align: center;
    margin-top:0px ;
    margin-bottom: 0px;
    font-weight: 100;
    background-color: white;
}
.container1 {
    display: flex;
    align-items:normal;
    text-align: center;
    justify-content:space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25%;
    margin-top: 8%;
}
.a{
    font-size: 20px;
    text-align: center;
}
.c{
    opacity: 0.7;
    text-align: center;
    font-size: 13px;
}